<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Formulário Criar Conta -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6" class="ion-text-center">
      <form #criarContaForm="ngForm" (ngSubmit)="criarConta(criarContaForm.value)"> <!-- variavel de template tipo um let -->
          <ion-item lines="none">
            <ion-label>Criar Conta</ion-label>
          </ion-item>
          <ion-item>
            <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
          </ion-item>
          <ion-item lines="nome">
            <ion-button color="light" slot="end" type="submit">Cadastrar</ion-button>
          </ion-item>
      </form>
    </ion-col>
  </ion-row>

  <!-- Formulário de Login -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6" class="ion-text-center">
      <form #loginForm="ngForm" (ngSubmit)="realizarLogin(loginForm.value)"> <!-- variavel de template tipo um let -->
          <ion-item lines="none">
            <ion-label>Criar Conta</ion-label>
          </ion-item>
          <ion-item>
            <ion-input label="Usuário" name="email" ngModel type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Senha" name="password" ngModel type="password"></ion-input>
          </ion-item>
          <ion-item lines="nome">
            <ion-button color="light" slot="end" type="submit">Login</ion-button>
          </ion-item>
      </form>
    </ion-col>
  </ion-row>

</ion-content>