<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-item>
            <ion-label>{{ funcionario.Nome }} - {{ funcionario.Cargo }}</ion-label>
            <ion-icon name="create-outline" (click)="selecionar(funcionario.CodFun)"></ion-icon>
            <ion-icon name="trash-outline" (click)="remover(funcionario.CodFun)"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <form #insertFuncionario="ngForm" (ngSubmit)="inserir(insertFuncionario.value)"> <!-- variavel de template tipo um let -->
        <ion-item lines="none">
          <ion-label>Inserir Funcionario</ion-label>
        </ion-item>
        <ion-item>
          <ion-input label="Nome" name="nome" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="sobrenome" name="sobrenome" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="cargo" name="cargo" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="data_nasc" name="data_nasc" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="endereco" name="endereco" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="cidade" name="cidade" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="cep" name="cep" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="pais" name="pais" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="fone" name="fone" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="salario" name="salario" ngModel type="text"></ion-input>
        </ion-item>
        <ion-item lines="nome">
          <ion-button color="light" slot="end" type="submit">Inserir</ion-button>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>

</ion-content>